@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* font-family: 'Noto Sans KR',
sans-serif;
 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquare', sans-serif;
    /* 
    normal 400
    bold   700
    boler  800
    light  300
     */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}

.clear::after {
    display: block;
    content: '';
    clear: both;
}